DATABASE_URL="postgres://huxrbazj:Zh8HkuQtMtFNsEz84xsQKMhvh9UAeOKY@castor.db.elephantsql.com/huxrbazj"
DATABASE_URL_DEVELOPMENT="postgres://zfrqfzhv:KFQvg-vDQLzD4g_SPGu0eC1ClBhipm6T@castor.db.elephantsql.com/zfrqfzhv"
DATABASE_URL_TEST="postgres://pgmvxvtf:yaKtY0uxZhNaHYAbL3BeOx_kj7D6nQze@castor.db.elephantsql.com/pgmvxvtf"
DATABASE_URL_PREVIEW="postgres://ptyjqyis:Oa8BDhYzgCvY2jHuefI8Y5D3SlLqB2Cs@castor.db.elephantsql.com/ptyjqyis"
LOG_LEVEL=info
